<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    
    <link rel="stylesheet" href="./CSS.css">
    
    <script type="module" src="../../index.js" defer></script>

    <title>그리드</title>
  </head>
  <body>
    <div id="app">
      <h1>거스름돈</h1>
      <p>
        <strong>거스름돈을 입력해 주세요 </strong>
      </p>
      <h2>아래 입력창에 입력해주세요</h2>
      <input type="text" id="change-input" />
      <button id="submit">제출</button>
      
      <h3>📄 결과</h3>
      <div id="result"></div>
    </div>
  </body>
</html>
